.comment {
    width: 100%;
    height: fit-content;
    background-color: #181c23;
    border-radius: 4px;
    margin-bottom: 2vh;
    padding: 1vh;

    p {
        color: rgba(255, 255, 255, 0.637);
        font-size: 18px;
    }

    legend {
        font-size: 16px;
    }
}