.topic {    
    border-bottom: 1px solid rgba(255, 255, 255, 0.459);
    margin-bottom: 5vh;
    margin-right: 2vh;

    a {
        color: #fff;
        
        .topic-descr {      
            margin-bottom: 1vh;      
            margin-top: 2vh;
        }
    }
}