<div class="container">
    <h2 class="title">{{post.title}}</h2>
    <p class="author">Автор: {{post.journalist.user.firstName}} {{post.journalist.user.lastName}}</p>
    <div class="content">
        <div class="img">
            <img [src]="postImage" alt="">
        </div>        
        <div class="videos">
            <iframe *ngFor="let video of links" [src]="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <p class="post-text">{{post.description}}</p>

    <button class="delete-post" (click)="deletePost(post.id)" *ngIf="isAdmin || isAuthor">Видалити пост</button>

    <h2>Коментарі</h2>
    <div class="comments">
        <app-post-comment *ngFor="let comment of post.comments" [comment]="comment"></app-post-comment>
    </div>

    <form *ngIf="isAuthorized" class="add-comment" action="" [formGroup]="addComment" (submit)="onCommentSend()">
        <textarea placeholder="Ваш коментар..." name="" id="" formControlName="text"></textarea>
        <input type="submit" value="Опублікувати">
    </form>
</div>