.title {
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 32px;
}

.content {
    display: flex;
    justify-content: space-between;     
    
    .post-text {
        width: 100vw;
    }
}

div.img {
    width: 100vw;
    height: 50vh;    
    overflow:hidden;
    position:relative;
    margin-right: 2vh;
    
    img {
        position:absolute;
        
    }
}

h2 {
    border-top: 1px solid #fff;
    padding-top: .5vh;
    font-size: 22px;
    margin-top: 2vh;
    margin-bottom: 1vh;
}