<h2 class="title"><i class="fa fa-users"></i> Найпопулярніші журналісти</h2>
<app-top-journalists></app-top-journalists>

<h2 class="title"><i class="fa  fa-folder-open-o"></i> Нові пости</h2>

<div class="last-posts" *ngIf="newPosts.length > 0">
    <div class="four-posts">        
        <app-main-post *ngFor="let post of newPosts" [post]="post"></app-main-post>  
    </div>
    <div class="last-post" [routerLink]="['/post', lastPost.id]">
        <div class="img">
            <img [src]="image" alt="">
        </div>
        <h3>{{lastPost.title}}</h3>
        <p>{{lastPost.description | trimTextForPost: 500}}</p>
    </div>
</div>

<div *ngIf="newPosts.length < 1">
    Нічого не знайдено
</div>

<app-top-posts></app-top-posts>