<h2 class="title">Найпопулярніші журналісти</h2>
<div class="journalists">
    <div class="journalist">
        <h5>John Doe</h5>
        <div class="posts">
            <a routerLink="/">
                <div class="post">
                    <p class="post-title">post title</p>
                    <p class="post-descr">short descr</p>
                </div>
            </a>
            <a routerLink="/">
                <div class="post">
                    <p class="post-title">post title</p>
                    <p class="post-descr">short descr</p>
                </div>
            </a>
            <a routerLink="/">
                <div class="post">
                    <p class="post-title">post title</p>
                    <p class="post-descr">short descr</p>
                </div>
            </a>
            <a routerLink="/">
                <div class="post">
                    <p class="post-title">post title</p>
                    <p class="post-descr">short descr</p>
                </div>
            </a>
        </div>
    </div>
    <div class="journalist">
        <h5>John Doe</h5>
        <div class="posts">
            <a routerLink="/journalists">
                <div class="post">
                    <p class="post-title">post HERE title</p>
                    <p class="post-descr">short descr</p>
                </div>
            </a>
        </div>
    </div>
    <div class="journalist">
        <h5>John Doe</h5>
        <div class="posts">
            <a routerLink="/">
                <div class="post">
                    <p class="post-title">post title</p>
                    <p class="post-descr">short descr</p>
                </div>
            </a>
            <a routerLink="/">
                <div class="post">
                    <p class="post-title">post title</p>
                    <p class="post-descr">short descr</p>
                </div>
            </a>
        </div>
    </div>
</div>