<div class="background" (click)="showAccountModal(false)"></div>
<div class="login-form" *ngIf="login">
    <div class="services">
        <h4><span>Увійти</span> в акаунт</h4>
        <form action="" [formGroup]="loginForm" (submit)="onSubmit()">
            <input type="text" placeholder="Ваш email..." formControlName="email">
            <input type="password" placeholder="Ваш пароль..." formControlName="password">
            <input type="submit" value="Увійти">
        </form>
        <p (click)="register = true; login = false; forgotPassword = false">Не маєте акаунту? Зареєструватися</p>
        <p (click)="register = false; login = false; forgotPassword = true">Відновити пароль</p>
    </div>
    <div class="info">
        <p>Для того, щоб переглядати, або публікувати свої пости, залишати під ними коментарі, спочатку потрібно увійти в свій акаунт</p>
    </div>
</div>

<div class="login-form" *ngIf="register">
    <div class="services">
        <h4><span>створити</span> акаунт</h4>
        <form action="" [formGroup]="registerGroup" (submit)="onRegister()">
            <select name="" id="" formControlName="Role">
                <option value="0">Читач</option>
                <option value="1">Журналіст</option>
            </select>
            <input type="text" placeholder="Ваше ім'я..." formControlName="Firstname">
            <input type="text" placeholder="Ваше прізвище..." formControlName="Lastname">
            <input type="text" placeholder="Ваш email..." formControlName="Email">
            <input type="password" placeholder="Ваш пароль..." formControlName="Password">
            <input type="submit" placeholder="Зареєструватися">
        </form>
        <p (click)="register = false; login = true;">Вже маєте акаунт? Увійти</p>
    </div>
    <div class="info">
        <p>Для того, щоб переглядати, або публікувати свої пости, залишати під ними коментарі, спочатку потрібно створити власний акаунт</p>
    </div>
</div>

<div class="login-form" *ngIf="forgotPassword">
    <div class="services">
        <h4><span>Відновлення</span> паролю</h4>
        <form action="" [formGroup]="forgotPasswordGroup" (submit)="onForgotPassword()">
            <input type="text" placeholder="Ваш email..." formControlName="Email">
            <input type="submit" placeholder="Зареєструватися">
        </form>
    </div>
    <div class="info">
        <p>На пошту прийде лист-підтвердження вашого акаунту.</p>
    </div>
</div>