.user {
    width: 100%;
    height: fit-content;
    background-color: #181c23;
    border-radius: 4px;
    margin-bottom: 2vh;
    padding: 2vh;
    display: flex;
    justify-content: space-between;

    .options {
        color: #fff;

        button {
            padding: 1vh;
            border-radius: 3px;
        }

        .ban {
            background-color: rgb(133, 39, 39);
        }

        .unban {
            background-color: rgba(38, 126, 26, 0.726)
        }
    }
}