<div class="content">
    <div class="text">
        <h3><i class="fa fa-gamepad"></i> Вітаємо на <span>ігровому блозі</span></h3>
        <p>GameBlog - це ігровий блог, який присвячений останнім новинам та трендам ігрової індустрії. На сайті ви
            знайдете огляди нових ігор, новини галузі, поради та рекомендації щодо геймплею та інше. Цей блог є чудовим
            джерелом інформації для гравців, які хочуть бути в курсі останніх тенденцій ігрової індустрії. GameBlog
            також пропонує своїм читачам різноманітні розділи, які включають огляди ігрових консолей та аксесуарів,
            статті про ретро-ігри, топові списки ігор, аналіз ринку комп'ютерних ігор, інтерв'ю з розробниками та інші
            цікаві матеріали. Крім того, на сайті є активна спільнота гравців, яка обговорює новини та ігрові події,
            ділиться досвідом та знаннями.</p>
    </div>
    <div class="img">
        <img src="../../../../../assets/slide.jpg" class="welcome-image" alt="">
    </div>
</div>

<div class="blocks">
    <div class="block">
        <h2><i class="fa fa-keyboard-o"></i> PC</h2>
    </div>
    <div class="block">
        <h2><i class="fa fa-gamepad"></i> PS4</h2>
    </div>
    <div class="block">
        <h2><i class="fa fa-info-circle"></i> STRATEGY</h2>
    </div>
</div>

<div class="latest-post">
    <h2>Останні <span>пости</span></h2>
</div>
<div class="posts">
    <app-top-posts></app-top-posts>
</div>