<div class="content">
    <div class="text">
        <h3><i class="fa fa-gamepad"></i> Вітаємо на <span>ігровому блозі</span></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta molestias, quam corrupti hic praesentium
            facilis nulla eum! Repudiandae magnam nostrum blanditiis vitae dicta ea perferendis. Neque deleniti cum
            itaque laborum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam eveniet voluptas sunt
            quia dolores, deserunt possimus? Ipsa sunt quasi harum, distinctio, mollitia earum corrupti sequi, quidem
            magni eum illo a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis suscipit libero, vero
            corporis unde molestias dolorum, blanditiis maiores porro quisquam a? Iste adipisci sunt voluptas deleniti
            magnam voluptatem, amet voluptate.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta
            molestias, quam corrupti hic praesentium facilis nulla eum! Repudiandae magnam nostrum blanditiis vitae
            dicta ea perferendis. Neque deleniti cum itaque laborum. Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Quisquam eveniet voluptas sunt quia dolores, deserunt possimus? Ipsa sunt quasi harum, distinctio,
            mollitia earum corrupti sequi, quidem magni eum illo a. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Reiciendis suscipit libero, vero corporis unde molestias dolorum, blanditiis maiores porro quisquam a?
            Iste adipisci sunt voluptas deleniti magnam voluptatem, amet voluptate.</p>
    </div>
    <div class="img">
        <img src="../../../../../assets/slide.jpg" class="welcome-image" alt="">
    </div>
</div>

<div class="blocks">
    <div class="block">        
        <h2><i class="fa fa-keyboard-o"></i> PC</h2>
    </div>
    <div class="block">        
        <h2><i class="fa fa-gamepad"></i> PS4</h2>
    </div>
    <div class="block">         
        <h2><i class="fa fa-info-circle"></i> STRATEGY</h2>
    </div>
</div>

<div class="latest-post">
    <h2>Останні <span>пости</span></h2>
</div>
<div class="posts">
    <app-top-posts></app-top-posts>
</div>