.add-post {
    margin-top: 10vh;

    div {
        margin-bottom: 2vh;

        h5 {
            margin-bottom: .2vh;
            font-size: 20px;
        }
    }

    input {
        background-color: #181c23;
        border-radius: 5px;
        color: #fff;
        padding: .5vh;
    }

    select {
        padding: 1vh;
        border-radius: 3px;
        background-color: #181c23;
        color: #fff;
    }

    select:focus {
        outline: none;
    }

    input[type="file"] {
        padding: 1vh;
        border-radius: 3px;
        background-color: #181c23;
        color: #fff;
    }

    input[type="submit"] {
        padding: 1vh;
        border-radius: 3px;
        background-color: rgba(27, 170, 22);
        color: #fff;
    }

    textarea {
        background-color: #181c23;
        width: 60%;
        height: 50vh;
        border-radius: 5px;        
        padding: .5vh;
        color: #fff;
        resize: none;        
    }

    textarea:focus {
        outline:  none !important;
    }
}