<form action="" class="add-post" [formGroup]="addPostForm" (submit)="onSubmit()">
    <div>
        <h5>Назва</h5>
        <input type="text" formControlName="title">
    </div>
    <div>
        <h5>Тема</h5>
        <select formControlName="topicId">
            <option *ngFor="let topic of topics" value="{{topic.id}}" >{{topic.title}}</option>
        </select>
    </div>
    <div>
        <h5>Картинка</h5>
        <div class="file-upload-wrapper" data-text="Додати файл">
            <input name="file-upload-field" type="file" class="file-upload-field" value="" (change)="onFileSelected($event)">
        </div>
    </div>
    <div>
        <h5>Опис</h5>
        <textarea name="" id="" cols="30" rows="10" formControlName="descr"></textarea>
    </div>    
    <input type="submit" value="Опублікувати">
</form>