<form action="" class="add-post" [formGroup]="addPostForm" (submit)="onSubmit()">
    <div class="main-wrapper">
        <div>
            <div>
                <h5>Назва</h5>
                <input class="name-title" type="text" formControlName="title">
            </div>
            <div>
                <h5>Тема</h5>
                <select formControlName="topicId" *ngIf="topics">
                    <option *ngFor="let topic of topics" value="{{topic.id}}">{{topic.title}}</option>
                </select>
            </div>
        </div>
        <div>
            <h5>Картинка</h5>
            <div class="file-upload-wrapper" data-text="Додати файл">
                <input name="file-upload-field" id="file-upload-field" type="file" class="file-upload-field" value=""
                    (change)="onFileSelected($event)">
            </div>
        </div>
    </div>
    <div>
        <h5>Опис</h5>
        <textarea name="" id="" cols="30" rows="10" formControlName="descr"></textarea>
    </div>
    <div class="videos">
        <h5>Відео про пост</h5>
        <div class="set">
            <button class="add" (click)="addField()">+</button>
            <button class="remove" (click)="removeField()">-</button>
            <div class="links">
                <input [hidden]="" type="text" placeholder="Відео на YouTube №1" class="video-input" #linkInput>
                <input [hidden]="fieldsCount < 2" type="text" placeholder="Відео на YouTube №2" class="video-input" #linkInput>
                <input [hidden]="fieldsCount < 3" type="text" placeholder="Відео на YouTube №3" class="video-input" #linkInput>
            </div>
        </div>
    </div>
    <input type="submit" value="Опублікувати" (click)="onSubmit1()">
</form>