.title {
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 32px;
}

#main {
    backdrop-filter: blur(10px);
    border: 1px solid rgb(156, 156, 156);
}