.journalist {
    width: 200px;
    margin-right: 2vh;

    h5 {
        margin-bottom: 5px;
        font-size: 22px;
    }    

    .posts {
        display: flex;
        flex-direction: column;
        
    }
}