.account-settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #69696967;
    padding: 2vh;

    display: flex;
    flex-direction: column;

    input {
        background-color: #99999967;
        margin-top: .5vh;

        padding: 2vh;
        border-radius: .2vh;
        color: rgb(255, 255, 255);
    }

    .submit {
        background-color: rgba(70, 136, 16, 0.555);
        color: #fff;
    }

    :first-child {
        margin-top: 0vh;
    }
}