header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 10px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;        
        width: 50%;
        
        a {
            font-size: 20px;
            width: fit-content;
            color: #000;
            text-decoration: none;
        }
    }

    .img {
        width: 3vw;
        height: 3vw;        
        border-radius: 100PX;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            object-position: top;
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}