<div class="bg">
  <header>
    <nav>
      <a *ngIf="!needLogin" routerLink="/">Головна <i class="fa fa-plus"></i></a>
      <a *ngIf="needLogin" routerLink="/welcome">Головна <i class="fa fa-plus"></i></a>
      <a routerLink="/journalists">Журналісти <i class="fa fa-plus"></i></a>
      <a routerLink="/news">Новини <i class="fa fa-plus"></i></a>
      <a routerLink="/topics">Теми <i class="fa fa-plus"></i></a>
    </nav>
    <div class="acc">
      <i class="fa fa-bell" *ngIf="isAuthorized" (click)="showNotificationModal(true)"></i>
    </div>
    <a (click)="showAccountModal(true)" (click)="checkLoginModal()" class="img"><img [src]="avatar ? avatar : '../assets/default-avatar.png'" alt="user"></a>
  </header>
</div>
<router-outlet></router-outlet>
<app-account-options-modal *ngIf="isOpened && !needLogin"></app-account-options-modal>
<app-account-options-not-logged-in *ngIf="isOpened && needLogin"></app-account-options-not-logged-in>
<app-notifications *ngIf="openNotifications" [notifications]="notifications"></app-notifications>
<app-send-notification-admin *ngIf="openSendNotifications"></app-send-notification-admin>
<app-add-topic *ngIf="addTopic"></app-add-topic>
<app-info-modal class="info-modal" *ngIf="showInfoModal"></app-info-modal>