.bg {
    background-color: rgba(0, 0, 0, 0.555);
    width: 100vw;
    height: 8vh;
    position: fixed;
    left: 0;
    top: 0;    
    z-index: 9;

    header {           
        z-index: 10; 
        max-width: 70vw;
        margin: 0 auto;
        margin-top: .7vh;
        width: 100%;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding-top: 10px;
        
    
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;        
            width: 50%;
            
            a {
                font-size: 20px;
                width: fit-content;
                color: #fff;
                text-decoration: none;

                i {
                    font-size: 12px;
                }
            }
        }
    
        .img {
            width: 3vw;
            height: 3vw;        
            border-radius: 100PX;
            position: relative;
            overflow: hidden;
    
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                object-position: top;
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        .acc {
            position: fixed;
            left: 80vw;

            i {
                font-size: 20px;
            }            
        }
    }
}