<div class="notification">
    <div class="info">
        {{notification.sender.firstName}} {{notification.sender.lastName}} 
        <p *ngIf="notification.subject == 0" [routerLink]="['/post', notification.post.id]"> додав пост
            {{notification.post.title}}</p>
        <p *ngIf="notification.subject == 1" [routerLink]="['/post', notification.post.id]"> прокоментував пост
            {{notification.post.title}}</p>
        <p *ngIf="notification.subject == 2"> забанив вас</p>
        <p *ngIf="notification.subject == 3"> розбанив вас</p>
        <p *ngIf="notification.subject == 4"> : {{notification.message}}</p>
    </div>
    <i class="fa fa-times" aria-hidden="true" (click)="deleteNotification.emit(notification.id)"></i>
</div>